<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse">
</ngx-spinner>
<form [formGroup]="myForm">
    <div class="card inner animated fadeIn fast">
        <div class="card-body">
            <h5 class="card-title">Formulario de Registro</h5>

            <div class="form-group">
                <label for="nombre">Nombre*</label>
                <input type="text" formControlName="nombre" class="form-control" id="nombre">
                <div *ngIf="isPersonalDataFieldValid('nombre')">
                    <span class="text-danger">Error en campo</span>
                </div>
            </div>
            <div class="form-group">
                <label for="apellido">Apellido*</label>
                <input type="text" formControlName="apellido" class="form-control" id="apellido">
                <div *ngIf="isPersonalDataFieldValid('apellido')">
                    <span class="text-danger">Error en campo</span>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Correo(Usuario)*</label>
                <input type="email" formControlName="email" class="form-control" id="email" placeholder="name@example.com">
                <div *ngIf="isPersonalDataFieldValid('email')">
                    <span class="text-danger">Error en campo</span>
                </div>
            </div>
            <div class="form-group">
                <label for="celular">Celular*</label>
                <input type="text" formControlName="celular" class="form-control" id="celular">
                <div *ngIf="isPersonalDataFieldValid('celular')">
                    <span class="text-danger">Error en campo</span>
                </div>
            </div>
            <div class="form-group">
                <label for="fecha">Fecha Nacimiento*</label>
                <input type="text" formControlName="fecha" [dropSpecialCharacters]="false" matInput mask="0000-00-00" class="form-control" id="fecha" placeholder="yyyy-mm-dd">
                <div *ngIf="isPersonalDataFieldValid('fecha')">
                    <span class="text-danger">Error en campo</span>
                </div>
            </div>
            <div class="form-group">
                <label for="direccion">Dirección*</label>
                <input type="text" formControlName="direccion" class="form-control" id="direccion">
                <div *ngIf="isPersonalDataFieldValid('direccion')">
                    <span class="text-danger">Error en campo</span>
                </div>
            </div>
            <div class="form-group">
                <label for="complementario">Torre/Apt/Casa</label>
                <input type="text" formControlName="complementario" class="form-control" id="complementario">
                <div *ngIf="isPersonalDataFieldValid('complementario')">
                    <span class="text-danger">Error en campo</span>
                </div>
            </div>
            <div class="form-group" formGroupName="passwords">
                <div class="form-group">
                    <label for="contrasena">Password*</label>
                    <input type="password" formControlName="contrasena" class="form-control" id="contrasena">
                    <div *ngIf="isPersonalDataFieldValid('passwords.contrasena')">
                        <span class="text-danger">Error en campo</span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="recontrasena">Repetir Password*</label>
                    <input type="password" formControlName="recontrasena" class="form-control" id="recontrasena">
                    <div *ngIf="isPersonalDataFieldValid('passwords.recontrasena')">
                        <span class="text-danger">Error en campo</span>
                    </div>
                    <div *ngIf="passwordConfirming(passwords)">
                        <span class="text-danger">Las Contraseñas no coinciden</span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-success" (click)="doSomething()" [disabled]="!myForm.valid">Registrar</button>
        </div>
    </div>
</form>