<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse">
</ngx-spinner>
<div class="outer">
    <div class="center">
        <form [formGroup]="myForm">
            <div class="card inner animated fadeIn fast">
                <div class="card-body">
                    <h5 class="card-title">Identificación de usuario</h5>

                    <div class="form-group">
                        <label for="celular">Celular*</label>
                        <input type="text" formControlName="celular" class="form-control" id="celular">
                        <div *ngIf="isPersonalDataFieldValid('celular')">
                            <span class="text-danger">Error en campo</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha Nacimiento*</label>
                        <input type="text" formControlName="fecha" [dropSpecialCharacters]="false" matInput mask="0000-00-00" class="form-control" id="fecha" placeholder="yyyy-mm-dd">
                        <div *ngIf="isPersonalDataFieldValid('fecha')">
                            <span class="text-danger">Error en campo</span>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="errorIdentifier">
                        <div>
                            <span class="text-danger">Por favor validar los datos ingresados</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm" style="text-align: center;">
                            <button type="submit" class="btn btn-success" (click)="doSomething()" [disabled]="!myForm.valid">Siguiente</button>
                        </div>
                        <div class="col-sm" style="text-align: center;">
                            <button type="submit" class="btn btn-success" (click)="declinar()">Volver</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>