<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>
<app-navbar></app-navbar>
<div class="inner">
    <div>
        <div class="form-group">
            <h5 class="card-title">Lista de Pedidos</h5>
        </div>
        <div>
            <span>Aqui podra visualizar los pedidos realizados.</span>
        </div>
        <br>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Usuario</th>
                    <th scope="col">Hijo</th>
                    <th scope="col">Lonchera</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let solicitud of responsePedidos">
                    <td class="verticalC">{{solicitud.UsuarioNombre}}</td>
                    <td class="verticalC">{{solicitud.HijoNombre}}</td>
                    <td>
                        <ul class="list-group list-group-flush" *ngFor="let alimento of solicitud.TipoAlimento">
                            <li class="list-group-item"><b>{{alimento.AlimentoNombre}}</b></li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
    </div>
</div>