<form class="inner">
    <div class="form-group">
        <h5 class="card-title">Iniciar sesión</h5>
    </div>
    <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control" id="usuario">
    </div>
    <div class="form-group">
        <label for="contrasena">Password</label>
        <input type="password" class="form-control" id="contrasena">
    </div>
    <div class="form-group">
        <a href="" id="signup">Cree una cuenta.</a>
    </div>
    <button type="submit" class="btn btn-primary">Siguiente</button>
</form>