<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-clip-rotate-pulse"></ngx-spinner>
<app-navbar *ngIf="hijos"></app-navbar>
<div class="inner">
    <form [formGroup]="myForm" *ngIf="!hijos">
        <div class="form-group">
            <h5 class="card-title">Bienvenido a loncheras saludables</h5>
        </div>
        <div>
            <span>Le invitamos a registrar la información de su(s) hija(s) o hijo(s).</span>
        </div>
        <br>
        <div class="form-group">
            <label for="nombre">Nombre completo</label>
            <input type="text" formControlName="nombre" class="form-control" id="nombre">
            <div *ngIf="isPersonalDataFieldValid('nombre')">
                <span class="text-danger">Error en campo</span>
            </div>
        </div>
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="text" formControlName="edad" class="form-control" id="edad">
            <div *ngIf="isPersonalDataFieldValid('edad')">
                <span class="text-danger">Error en campo</span>
            </div>
        </div>
        <div class="form-group">
            <label for="peso">Peso en KG</label>
            <input type="text" formControlName="peso" class="form-control" id="peso">
            <div *ngIf="isPersonalDataFieldValid('peso')">
                <span class="text-danger">Error en campo</span>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <button type="submit" (click)="doSomething()" [disabled]="!myForm.valid" class="btn btn-success">Siguiente</button>
                </div>
                <div class="col-sm">
                    <button type="submit" (click)="oneMore()" [disabled]="!myForm.valid" class="btn btn-success">Otr@ hij@</button>
                </div>
            </div>
        </div>

    </form>
    <div *ngIf="hijos && !menu">
        <div class="form-group">
            <h5 class="card-title">Bienvenido a loncheras saludables</h5>
        </div>
        <div>
            <span>Le invitamos a solicitar cualquiera de los siguientes menús .</span>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-sm" *ngFor="let combo of responseListarCombos">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/img/menu.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{combo.ComboNombre}}</h5>
                            <p class="card-text">Este combo esta compuesto por:</p>
                        </div>
                        <ul class="list-group list-group-flush" *ngFor="let alimento of combo.Alimentos">
                            <li class="list-group-item"><b>{{alimento.AlimentoNombre}}</b></li>
                        </ul>
                        <div class="card-body">
                            <button (click)="solicitar(combo.ComboId)" type="submit" class="btn btn-success">Siguiente</button>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </div>
    <form [formGroup]="menuForm" *ngIf="hijos && menu">
        <div class="form-group">
            <h5 class="card-title">Bienvenido a loncheras saludables</h5>
        </div>
        <div>
            <span>Le invitamos a solicitar o cambiar los componentes del menú.</span>
        </div>
        <br>
        <div class="container">
            <div class="row">

                <div class="col-sm">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/img/proteina.jpg" height="90" width="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Proteínas</h5>
                        </div>
                        <div class="card-body">
                            <select class="form-control field-click custom-select" required formControlName="selectListP">
                                <option *ngFor="let item of listProteinas" [ngValue]="item">{{item.AlimentoNombre}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/img/liquido.jpg" height="90" width="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Líquidos</h5>
                        </div>
                        <div class="card-body">
                            <select class="form-control field-click custom-select" required formControlName="selectListL">
                                <option *ngFor="let item of listLiquidos" [ngValue]="item">{{item.AlimentoNombre}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/img/energetico.jpg" height="90" width="200" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Energéticos</h5>
                        </div>
                        <div class="card-body">
                            <select class="form-control field-click custom-select" required formControlName="selectListE">
                                <option *ngFor="let item of listEnergeticos" [ngValue]="item">{{item.AlimentoNombre}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>

                <div class="col-sm">
                    <div class="card">
                        <img class="card-img-top" src="../../../assets/img/regulador.jpg" width="200" height="90" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Reguladores</h5>
                        </div>
                        <div class="card-body">
                            <select class="form-control field-click custom-select" required formControlName="selectListR">
                                <option *ngFor="let item of listReguladores" [ngValue]="item">{{item.AlimentoNombre}}</option>
                            </select>
                        </div>
                    </div>
                    <br>
                </div>

            </div>

            <div class="form-group" style="text-align: center; margin: auto; padding-bottom: 15px;">
                <select class="form-control field-click custom-select" required formControlName="selectHijo" (change)="changeHijo()">
                    <option value="0" disabled [selected]>Selecciona tu hij@</option>
                    <option *ngFor="let hijo of responseListarHijos.SDTHijos" [ngValue]="hijo">{{hijo.HijoNombre}}</option>
                </select>
                <div *ngIf="noHijo">
                    <span class="text-danger">Seleccione una opción</span>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-sm" style="text-align: center;">
                        <button type="submit" (click)="pedir()" class="btn btn-success">Solicitar</button>
                    </div>
                    <div class="col-sm" style="text-align: center;">
                        <button type="submit" (click)="declinar()" class="btn btn-success">Cancelar</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>